fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langchain-experimental
langchain-huggingface
langchain-chroma
langchain-google-genai
langchain-groq

chromadb

sentence-transformers
transformers
torch

youtube-transcript-api

groq
pydantic
python-dotenv
